<head>
    <link rel="preload" href="/css/misestilos.css" as="style" />
    <link rel="stylesheet" href="/css/misestilos.css" />

    <link rel="preload" href="/css/estilo-menu.css" as="style" />
    <link rel="stylesheet" href="/css/estilo-menu.css" />

</head>
<body>
     <section class="principal">
      <div class="principal-2">
        <div class="btn-regresar">
          <a href="/">< Regresar</a>
        </div>
        <div class="producto">
          <div class="imagen-datos">
            <div class="imagen">
              <img src="/img/medicamentos/antibioticos/{{producto.productoImagen}}" />
              <div class="agg-carrito">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="icon icon-tabler icon-tabler-shopping-cart"
                  width="40"
                  height="40"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="#ffffff"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                  <circle cx="6" cy="19" r="2" />
                  <circle cx="17" cy="19" r="2" />
                  <path d="M17 17h-11v-14h-2" />
                  <path d="M6 5l14 1l-1 7h-13" />
                </svg>
              </div>
            </div>
            <div class="datos">
              <div class="nombre">
                <p>{{producto.productoNombre}}</p>
              </div>
              <div class="precio">
                <p>${{producto.productoPrecio}}.00 MXN p/u</p>
              </div>
              <div class="descripcion-r">
                <p>
                  {{producto.productoDescripcion}}
                </p>
              </div>
              <div class="cant-agg">
                <div class="alinear-izquierda">
                  <div class="cantidad">
                    <button
                      class="menos"
                      id="disabledBtn"
                      onclick="addValueFunction(this)"
                      value="decrease"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="icon icon-tabler icon-tabler-minus"
                        width="32"
                        height="32"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="#ffffff"
                        fill="none"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      >
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <line x1="5" y1="12" x2="19" y2="12" />
                      </svg>
                    </button>
                    <div class="numero">
                      <p id="cantidad" value="">0</p>
                    </div>
                    <button
                      class="mas"
                      onclick="addValueFunction(this)"
                      value="increase"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="icon icon-tabler icon-tabler-plus"
                        width="32"
                        height="32"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="#ffffff"
                        fill="none"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      >
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <line x1="12" y1="5" x2="12" y2="19" />
                        <line x1="5" y1="12" x2="19" y2="12" />
                      </svg>
                    </button>
                  </div>
                </div>
                <div class="agregar">
                  <p>Agregar al carrito</p>
                </div>
              </div>
              <div class="advertencias">
                <p>*Precio exclusivo tienda en linea</p>
                <p>*Producto sujeto a disponibilidad</p>
              </div>
            </div>
          </div>
          <div class="descripcion">
            <div class="titulod">
              <p class="titulo">Detalles y descripción del prodcuto</p>
            </div>
            <div class="instrucciones">
              <p class="subtitulos">Instrucciones:</p>
              <p>{{producto.productoInstrucciones}}.</p>
            </div>
            <div class="dosis">
              <p class="subtitulos">Dosis y modo de empleo:</p>
              <p>
                {{producto.productoDosis}}
              </p>
            </div>
            <div class="compuesto">
              <p class="subtitulos">Compuesto:</p>
              <p class="a">{{producto.productoCompuesto}}</p>
              <p class="subtitulos">Contenido:</p>
              <p>{{producto.productoContenido}}</p>
            </div>
            
          </div>
        </div>
      </div>
    </section>
</body>
    <script src="/js/script1.js"></script>
