<head>
    <link rel="preload" href="/css/datos.css" as="style" />
    <link rel="stylesheet" href="/css/datos.css" />
</head>
<body>
     <section class="cuerpo">
        <div class="contenidos">
          <div class="contenedor-form sombra">
            <div class="datos">
              <div class="titulo">
                  <h1 class="init-titulo">Mi perfil</h1>
              </div>
              <div class="nombre esp">
                  <div class="label">
                      <p>Nombre del usuario</p>
                  </div>
                  <div class="placeholder">
                      <p class="nom">{{nombreUsuario}}{{apellidosUsuario}}</p>
                  </div>
              </div>
              <div class="id esp">
                  <div class="label">
                      <p>Id del usuario</p>
                  </div>
                  <div class="placeholder">
                      <p class="nom">{{_id}}</p>
                  </div>
              </div>
              <div class="opciones">
                <div class="btn-carrito">
                  <a href="/detalles-usuario/informacion" class="btn-crear">Informacion del usuario</a>
                </div>
                <div class="btn-carrito">
                  <a href="#" class="btn-crear">Ver Carrito de compra</a>
                </div>
                <div class="btn-carrito">
                  <a href="#" class="btn-crear">Direccion de envio</a>
                </div>
                <div class="btn-carrito">
                  {{!-- <a href="/detalles-usuario/tarjeta/edit/{{_id}}" class="btn-crear">Informacion de tarjeta</a> --}}
                  <a href="/detalles-usuario/tarjeta" class="btn-crear">Informacion de tarjeta</a>
                </div>
              </div>
              <form action="/detalles-usuario/tarjeta/delete/{{_id}}?_method=DELETE" method="POST">
              <input type="hidden" name="_method" value="DELETE">
                <div class="eliminar">
                  <input type="submit" class="cerrar"  value="Eliminar Cuenta">
                </div>
              </form>
            </div>
          </div>


          <div class="contenedor-form2 sombra">
            <div class="datos">
              <div class="datos t2">
                  <h1 class="init-titulo">Informacion del usuario</h1>
              </div>
              <div class="nombre esp">
                  <div class="label">
                      <p>Nombre</p>
                  </div>
                  <div class="placeholder">
                      {{!-- <p class="nomb">'Aqui va el nombre'</p> --}}
                      <p class="nomb">{{nombreUsuario}}</p>
                  </div>
              </div>
              <div class="apellidos esp">
                  <div class="label">
                      <p>Apellidos</p>
                  </div>
                  <div class="placeholder">
                      {{!-- <p class="nom">'Aqui va los apellidos'</p> --}}
                      <p class="nom">{{apellidosUsuario}}</p>
                  </div>
              </div>
              <div class="correo esp">
                  <div class="label">
                      <p>Correo electronico</p>
                  </div>
                  <div class="placeholder">
                     {{!--  <p class="email">'Aqui va el correo'</p> --}}
                     <p class="email">{{emailUsuario}}</p>
                  </div>
              </div>
              <div class="numero esp">
                  <div class="label">
                      <p>Numero telefonico</p>
                  </div>
                  <div class="placeholder">
                      {{!-- <p class="telefono">'Aqui va el numero'</p> --}}
                      <p class="telefono">{{telefonoUsuario}}</p>
                  </div>
              </div>
              <div class="fecha esp">
                  <div class="label">
                      <p>Fecha de creacion de cuenta</p>
                  </div>
                  <div class="placeholder">
                      {{!-- <p class="fcCreacion">'fecha de la creacion de cuenta'</p> --}}
                      <p class="fcCreacion">{{timestamps}}</p>
                  </div>
              </div>
              <div class="forma-login esp">
                  <div class="label ap">
                      {{!-- <p>Esta cuenta fue creada: <span class="forma">'addf'</span></p> --}}
                      <p>Esta cuenta fue creada: <span class="forma">{{metodoCreacion}}</span></p>
                  </div>
                  </div>
              </div>
                <div class="cerrar">
                  <a href="/logout" class="cerrar">Cerrar sesion</a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>
</body>
<script src="/js/datos.js"></script>
